# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

### Step 4. Discover what is the mean age per occupation

In [3]:
users.groupby(by=['occupation']).age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [41]:
users.head()

   user_id  age gender  occupation zip_code  gender_n
0        1   24      M  technician    85711         1
1        2   53      F       other    94043         0
2        3   23      M      writer    32067         1
3        4   24      M  technician    43537         1
4        5   33      F       other    15213         0

In [ ]:
users.g

In [4]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [5]:
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
users['gender_n'] = users['gender'].apply(gender_to_numeric)

In [6]:
a = users.groupby('occupation').gender_n.sum()/users['occupation'].value_counts()*100
a.sort_values(ascending=False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [7]:
users.groupby(['occupation']).age.agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [8]:
pd.DataFrame(users.groupby(['occupation','gender']).age.mean()).reset_index()

       occupation gender        age
0   administrator      F  40.638889
1   administrator      M  37.162791
2          artist      F  30.307692
3          artist      M  32.333333
4          doctor      M  43.571429
5        educator      F  39.115385
6        educator      M  43.101449
7        engineer      F  29.500000
8        engineer      M  36.600000
9   entertainment      F  31.000000
10  entertainment      M  29.000000
11      executive      F  44.000000
12      executive      M  38.172414
13     healthcare      F  39.818182
14     healthcare      M  45.400000
15      homemaker      F  34.166667
16      homemaker      M  23.000000
17         lawyer      F  39.500000
18         lawyer      M  36.200000
19      librarian      F  40.000000
20      librarian      M  40.000000
21      marketing      F  37.200000
22      marketing      M  37.875000
23           none      F  36.500000
24           none      M  18.600000
25          other      F  35.472222
26          other      M  34.028986
27     programmer      F  32.166667
28     programmer      M  33.216667
29        retired      F  70.000000
30        retired      M  62.538462
31       salesman      F  27.000000
32       salesman      M  38.555556
33      scientist      F  28.333333
34      scientist      M  36.321429
35        student      F  20.750000
36        student      M  22.669118
37     technician      F  38.000000
38     technician      M  32.961538
39         writer      F  37.631579
40         writer      M  35.346154

### Step 8.  For each occupation present the percentage of women and men

In [20]:
occupation_group = users.groupby(by=['occupation'])

In [21]:
pd.DataFrame(occupation_group['gender'].value_counts(normalize=True))

                        gender
occupation    gender
administrator M       0.544304
              F       0.455696
artist        M       0.535714
              F       0.464286
doctor        M       1.000000
educator      M       0.726316
              F       0.273684
engineer      M       0.970149
              F       0.029851
entertainment M       0.888889
              F       0.111111
executive     M       0.906250
              F       0.093750
healthcare    F       0.687500
              M       0.312500
homemaker     F       0.857143
              M       0.142857
lawyer        M       0.833333
              F       0.166667
librarian     F       0.568627
              M       0.431373
marketing     M       0.615385
              F       0.384615
none          M       0.555556
              F       0.444444
other         M       0.657143
              F       0.342857
programmer    M       0.909091
              F       0.090909
retired       M       0.928571
              F       0.071429
salesman      M       0.750000
              F       0.250000
scientist     M       0.903226
              F       0.096774
student       M       0.693878
              F       0.306122
technician    M       0.962963
              F       0.037037
writer        M       0.577778
              F       0.422222

In [29]:
gender = users.groupby(['gender'])

In [39]:
pd.DataFrame(gender['occupation'].value_counts(normalize=True))

                      occupation
gender occupation
F      student          0.219780
       administrator    0.131868
       other            0.131868
       librarian        0.106227
       educator         0.095238
       writer           0.069597
       artist           0.047619
       healthcare       0.040293
       marketing        0.036630
       homemaker        0.021978
       programmer       0.021978
       none             0.014652
       executive        0.010989
       salesman         0.010989
       scientist        0.010989
       engineer         0.007326
       entertainment    0.007326
       lawyer           0.007326
       retired          0.003663
       technician       0.003663
M      student          0.202985
       educator         0.102985
       other            0.102985
       engineer         0.097015
       programmer       0.089552
       administrator    0.064179
       executive        0.043284
       scientist        0.041791
       technician       0.038806
       writer           0.038806
       librarian        0.032836
       entertainment    0.023881
       marketing        0.023881
       artist           0.022388
       retired          0.019403
       lawyer           0.014925
       salesman         0.013433
       doctor           0.010448
       healthcare       0.007463
       none             0.007463
       homemaker        0.001493