# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [48]:
s1 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=3, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30000, size=100, dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [52]:
df = pd.concat([s1, s2, s3], axis=1)
df.head()

   0  1      2
0  2  1  11899
1  3  2  10982
2  3  2  21592
3  3  2  12542
4  2  2  18932

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [58]:
df.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            11899
1      3       2            10982
2      3       2            21592
3      3       2            12542
4      2       2            18932

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [70]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       2
1       3
2       3
3       3
4       2
..    ...
95  21868
96  19043
97  27633
98  24039
99  28967

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [72]:
bigcolumn.reset_index(inplace=True)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [73]:
bigcolumn

     index      0
0        0      2
1        1      3
2        2      3
3        3      3
4        4      2
..     ...    ...
295     95  21868
296     96  19043
297     97  27633
298     98  24039
299     99  28967

[300 rows x 2 columns]