# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
pd.set_option('display.max_columns', 50)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv', sep=',')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [10]:
df = df.iloc[:,0:11]

### Step 5. Create a lambda function that will capitalize strings.

In [16]:
capitalizer = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [21]:
df['Mjob'].apply(capitalizer)
df['Fjob'].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [22]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason
390,MS,M,20,U,LE3,A,2,2,Services,Services,course
391,MS,M,17,U,LE3,T,3,1,Services,Services,course
392,MS,M,21,R,GT3,T,1,1,Other,Other,course
393,MS,M,18,R,LE3,T,3,2,Services,Other,course
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [23]:
df['Mjob'] = df['Mjob'].apply(capitalizer)
df['Fjob'] = df['Fjob'].apply(capitalizer)

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [32]:
majority = lambda x: True if x > 17 else False

In [33]:
df['legal_drinker'] = df['age'].apply(majority)

In [35]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [37]:
def times10(x):
    if type(x) is int:
        return x*10
    return x

In [40]:
df.applymap(times10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,False