# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv', sep=',')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv', sep=',')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.iloc[:,:9]
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [16]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [28]:
cars = pd.concat([cars1, cars2], keys=['cars1', 'cars2'])
cars

            mpg  cylinders  displacement horsepower  weight  acceleration  \
cars1 0    18.0          8           307        130    3504          12.0
      1    15.0          8           350        165    3693          11.5
      2    18.0          8           318        150    3436          11.0
      3    16.0          8           304        150    3433          12.0
      4    17.0          8           302        140    3449          10.5
...         ...        ...           ...        ...     ...           ...
cars2 195  27.0          4           140         86    2790          15.6
      196  44.0          4            97         52    2130          24.6
      197  32.0          4           135         84    2295          11.6
      198  28.0          4           120         79    2625          18.6
      199  31.0          4           119         82    2720          19.4

           model  origin                        car
cars1 0       70       1  chevrolet chevelle malibu
      1       70       1          buick skylark 320
      2       70       1         plymouth satellite
      3       70       1              amc rebel sst
      4       70       1                ford torino
...          ...     ...                        ...
cars2 195     82       1            ford mustang gl
      196     82       2                  vw pickup
      197     82       1              dodge rampage
      198     82       1                ford ranger
      199     82       1                 chevy s-10

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [25]:
nr_numbers = np.random.randint(15000, high=73000, size=398, dtype='l')
nr_numbers

array([27523, 57663, 43770, 35055, 40086, 17808, 67285, 56638, 28819,
       50088, 70798, 57718, 49774, 47192, 26353, 37730, 31334, 17348,
       49328, 29123, 35586, 20684, 34030, 20736, 41468, 61634, 18079,
       55417, 21056, 68106, 29749, 52027, 19752, 64521, 49263, 39230,
       48935, 28873, 39183, 72100, 71164, 39177, 60614, 30156, 33811,
       41784, 19253, 19105, 16873, 58319, 52568, 50617, 43586, 42565,
       27999, 27865, 45687, 55055, 22966, 30145, 72344, 49345, 20514,
       51553, 16920, 25562, 46159, 22877, 48724, 37439, 25362, 15628,
       51460, 46276, 70473, 64453, 26563, 51576, 20510, 50092, 72881,
       22012, 39781, 47242, 44501, 46827, 31104, 44659, 40874, 46367,
       69102, 59412, 66670, 71324, 29793, 56470, 66050, 18256, 34360,
       19331, 46068, 28073, 35715, 32477, 15818, 23758, 31108, 72855,
       38303, 51613, 34590, 62558, 51664, 33446, 60690, 54896, 42811,
       57327, 22132, 51115, 66061, 20740, 22422, 28358, 68190, 70811,
       15137, 68803, 65314, 71433, 72683, 28665, 59696, 19112, 35739,
       43208, 58222, 49105, 72408, 36403, 31047, 71008, 43771, 36131,
       41202, 35144, 58944, 39702, 22102, 34504, 16849, 57377, 36208,
       49080, 23230, 18518, 53680, 28276, 56529, 24173, 59900, 63809,
       30990, 67171, 19698, 18630, 34353, 17949, 19439, 50149, 47253,
       65753, 57469, 52589, 54398, 31053, 58534, 25922, 53954, 54335,
       46031, 62925, 27962, 40283, 31403, 37325, 25380, 63426, 61413,
       15461, 46344, 71850, 52144, 16874, 52780, 30456, 29375, 56956,
       71821, 17680, 64224, 45341, 47169, 31669, 23013, 46969, 25295,
       18361, 45824, 49183, 61099, 16548, 43403, 48314, 17186, 20794,
       50889, 32206, 22686, 21369, 38930, 23645, 44525, 43872, 29075,
       61716, 41265, 70749, 60298, 32039, 51383, 53682, 64762, 27385,
       56613, 70417, 61166, 72804, 63901, 38672, 65251, 42026, 56563,
       29975, 46520, 23210, 70913, 71488, 23296, 20284, 23072, 38879,
       36964, 64411, 55313, 59751, 65104, 44084, 68023, 49835, 40210,
       27650, 32211, 39530, 65609, 56590, 45494, 31925, 68715, 19990,
       20162, 17309, 27383, 29728, 47041, 42238, 37844, 16989, 57464,
       35725, 39646, 55961, 54925, 61541, 38817, 18796, 39634, 15332,
       37034, 22306, 23789, 24276, 69003, 63846, 21507, 63460, 32936,
       22844, 35029, 17206, 55175, 42135, 38191, 20630, 66971, 53467,
       35550, 52143, 66439, 70801, 26667, 32967, 49517, 50720, 61386,
       45834, 20561, 31656, 23968, 54078, 53068, 71388, 68846, 36012,
       26453, 52115, 61238, 62333, 23763, 46913, 29700, 47735, 20600,
       18842, 64795, 66250, 18830, 17202, 37323, 18549, 30666, 32634,
       70012, 49587, 36466, 63086, 55640, 71004, 51537, 61730, 33236,
       60885, 49143, 43162, 39698, 31266, 26290, 15136, 48818, 67403,
       25280, 54682, 43237, 37946, 35288, 35832, 25933, 15977, 61897,
       57777, 64469, 59992, 49572, 42929, 21981, 18576, 70184, 60945,
       38796, 44014, 27878, 17676, 55553, 24814, 29158, 51392, 66278,
       48342, 21899, 46853, 46082, 15076, 40742, 33265, 55837, 62902,
       54136, 66696])

### Step 8. Add the column owners to cars

In [29]:
cars['owners'] = nr_numbers