# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

In [3]:
drinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [18]:
drinks.groupby(by='continent').mean()['beer_servings']

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [17]:
drinks.groupby(by='continent').describe()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ... wine_servings         \
             max           count        mean  ...           75%    max
continent                                     ...
AF         376.0            53.0   16.339623  ...         13.00  233.0
AS         247.0            44.0   60.840909  ...          8.00  123.0
EU         361.0            45.0  132.555556  ...        195.00  370.0
OC         306.0            16.0   58.437500  ...         23.25  212.0
SA         333.0            12.0  114.750000  ...         98.50  221.0

          total_litres_of_pure_alcohol                                        \
                                 count      mean       std  min   25%    50%
continent
AF                                53.0  3.007547  2.647557  0.0  0.70   2.30
AS                                44.0  2.170455  2.770239  0.0  0.10   1.20
EU                                45.0  8.617778  3.358455  0.0  6.60  10.00
OC                                16.0  3.381250  3.345688  0.0  1.00   1.75
SA                                12.0  6.308333  1.531166  3.8  5.25   6.85


              75%   max
continent
AF          4.700   9.1
AS          2.425  11.5
EU         10.900  14.4
OC          6.150  10.4
SA          7.375   8.3

[5 rows x 32 columns]

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame