# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [6]:
baby_name = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep=',', index_col=0)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

### Step 4. See the first 10 entries

In [8]:
baby_name.head(10)

          Id      Name  Year Gender State  Count
11349  11350      Emma  2004      F    AK     62
11350  11351   Madison  2004      F    AK     48
11351  11352    Hannah  2004      F    AK     46
11352  11353     Grace  2004      F    AK     44
11353  11354     Emily  2004      F    AK     41
11354  11355   Abigail  2004      F    AK     37
11355  11356    Olivia  2004      F    AK     33
11356  11357  Isabella  2004      F    AK     30
11357  11358    Alyssa  2004      F    AK     29
11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [10]:
baby_name.drop(columns=['Id'], inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [13]:
baby_name[['Gender']].value_counts(normalize=True)

Gender
F         0.549832
M         0.450168
dtype: float64

### Step 7. Group the dataset by name and assign to names

In [17]:
names = baby_name.groupby(['Name'])

### Step 8. How many different names exist in the dataset?

In [19]:
baby_name['Name'].nunique()

17632

In [22]:
names['Name'].nunique().sum()

17632

### Step 9. What is the name with most occurrences?

In [46]:
names['Name'].count().nlargest(1)

Name
Riley    1112
Name: Name, dtype: int64

### Step 10. How many different names have the least occurrences?

In [44]:
least_popular = names['Name'].count() == 1
least_popular.sum()

3682

### Step 11. What is the median name occurrence?

In [55]:
name[names['Name']]

NameError: name 'name' is not defined

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.