# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [23]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [24]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
chipo.item_price = chipo.item_price.str.replace('$', '')
chipo.item_price = chipo.item_price.astype(float)

In [26]:
chipo[chipo.item_price > 10.00].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [30]:
unique_products = chipo[['item_name']].drop_duplicates()
unique_products

                                  item_name
0              Chips and Fresh Tomato Salsa
1                                      Izze
2                          Nantucket Nectar
3     Chips and Tomatillo-Green Chili Salsa
4                              Chicken Bowl
6                             Side of Chips
7                             Steak Burrito
8                          Steak Soft Tacos
10                      Chips and Guacamole
11                     Chicken Crispy Tacos
12                       Chicken Soft Tacos
16                          Chicken Burrito
18                              Canned Soda
21                         Barbacoa Burrito
27                         Carnitas Burrito
33                            Carnitas Bowl
34                            Bottled Water
38    Chips and Tomatillo Green Chili Salsa
39                            Barbacoa Bowl
40                                    Chips
44                       Chicken Salad Bowl
54                               Steak Bowl
56                      Barbacoa Soft Tacos
57                           Veggie Burrito
62                              Veggie Bowl
92                       Steak Crispy Tacos
111     Chips and Tomatillo Red Chili Salsa
168                   Barbacoa Crispy Tacos
186                       Veggie Salad Bowl
191      Chips and Roasted Chili-Corn Salsa
233      Chips and Roasted Chili Corn Salsa
237                     Carnitas Soft Tacos
250                           Chicken Salad
263                       Canned Soft Drink
281                        Steak Salad Bowl
298                       6 Pack Soft Drink
300     Chips and Tomatillo-Red Chili Salsa
445                                    Bowl
510                                 Burrito
520                            Crispy Tacos
554                   Carnitas Crispy Tacos
664                             Steak Salad
674       Chips and Mild Fresh Tomato Salsa
738                       Veggie Soft Tacos
1132                    Carnitas Salad Bowl
1229                    Barbacoa Salad Bowl
1414                                  Salad
1653                    Veggie Crispy Tacos
1694                           Veggie Salad
3750                         Carnitas Salad

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?